.CricbuzzMainPage {
  padding: 1% 17%;
  background: #E3E6E3;
  /* border: 1px solid black; */
  font-size: 15px;
}

.Header {
  background-color: #009270;
  display: flex;
  height: 48px;
}

.Logo {
  width: 10%;
  padding: 10px 18px 10px 20px;
}

.HeaderItems {
  display: flex;
  color: #fff;
}

.HeaderItems button {
  cursor: pointer;
}

.HeaderEachItem {
  padding: 16px 6px 11px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.HeaderEachItem:hover {
  background-color: #01795d;
}

.EachItem {
  padding: 16px 6px 13px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 0px;
}

.EachItem:hover {
  background-color: #01795d;
}

.CricBuzzBtn {
  margin: 8px 0px;
  padding: 0px 14px;
  background: #fff;
  border-radius: 18px;
  border: 0;
  color: #4a4a4a;
}

.Search {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: white;
  padding: 16px 6px 11px 20px;
}

.User {
  padding: 16px 6px 11px 15px;
  color: #fff;
}

.User:hover {
  cursor: pointer;
}

.SubNav {
  background-color: #4a4a4a;
  padding: 0px;
  color: #fff;
  /* height: 40px; */
  display: flex;
  flex-wrap: wrap;
}

.DropDown {
  background-color: aqua;
}

.HomePage {
  border-top: 6px solid #E3E6E3;
  /* border-bottom: 6px solid #E3E6E3; */
  background-color: #fff;
  padding-left: 20px;
}

.FeaturedMatches {
  width: 100%;
}

.FeaturedMatchesTitle {
  color: #009270;
  font-size: 16px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.FeaturedMatchdescription {
  display: flex;
}

.FeaturedSeries {
  display: flex;

}

.FeaturedMatch {
  line-height: 30px;
  width: 200px;
  box-shadow: 2px 9px rgb(226, 224, 224);
  margin-right: 20px;
  margin-left: 10px;
}

.rec.rec-arrow {
  background-color: #009270;
  color: #fff;
  font-size: small;
}

.rec.rec-arrow:hover {
  background-color: #009270;
}

.rec.rec-arrow:disabled {
  visibility: hidden;
}

button.rec-dot {
  visibility: hidden;
}

.TimeOfMatch {
  color: rgb(170, 21, 21);
  font-size: 13px;
}

.Matches {
  padding: 9px 20px 0px 20px;
  background-color: #262525;
}

.Matches:hover {
  background-color: #4a4a4a;
}

.EachMatch {
  padding: 9px 20px 0px 20px;
  text-decoration: none;
  color: white;
}

.EachMatch:hover {
  background-color: #262525;
}

.All {
  padding: 3px 0px 0px 265px;
  /* margin-left: 45%; */
}

.ToggleAll {
  background-color: #4a4a4a;
  border: 0px solid black;
  padding: 5px 20px;
  color: #fff;
}

.DisplayAll {
  background-color: #3f3e3e;
  width: 100%;
  padding: 10px 20px 10px 20px;
  /* position: absolute; */
  /* margin-bottom:100px ; */
}

.HomePage2 {
  border-top: 6px solid #E3E6E3;
  /* border-bottom: 6px solid #E3E6E3; */
  display: flex;
}

.LatestNews {
  border-right: 6px solid #E3E6E3;
  /* border: 2px solid black; */
  width: 20%;
  padding: 10px 10px 0px 20px;
  line-height: 25px;
  background-color: #fff;

}

.EachNews {
  padding: 10px 0px;
  box-shadow: 0px 1px rgb(226, 224, 224);
}

.NewsLink {
  text-decoration: none;
  color: black;
}

.NewsLink:hover {
  text-decoration: underline;
  color: black;
}

.Feed {
  width: 48%;
  border-right: 6px solid #E3E6E3;
  padding: 10px 10px 0px 10px;
  background-color: #fff;
}

.FeaturedVideos {
  width: 32%;
  background-color: #fff;

}

.EachFeed img {
  width: 100%;
  border-radius: 10px;
}

.EachFeed {
  padding: 20px 0px 20px 0px;
  box-shadow: 0px 2px rgb(226, 224, 224);
  line-height: 25px;
  /* background-color: #fff; */

}

.EachFeed h2 {
  font-size: 20px;
}

.Indetail {
  color: #4a4a4a;
}

.FeedLink {
  text-decoration: none;
  color: #262525;
}

.EmptyOne {
  border-bottom: 6px solid #E3E6E3;
  padding: 0px;
  margin: 0px;
}

.FeaturedVideosList {
  padding: 10px 10px 0px 10px;
}

.EachFeaturedVideo {
  padding: 15px 0px;
}

.EachFeaturedVideo h3 {
  padding: 0px 0px;
  line-height: 25px;
  font-size: 18px;
}

.Footer {
  background: #4a4a4a;
  color: #fff;
  display: flex;
  padding: 30px 25% 10px 25%;

}

.FooterLink {
  text-decoration: none;
  color: white;
  line-height: 35px;
  padding: 10px 0px;

}

.Footer ul {
  list-style-type: none;
  padding: 0px;
}

.CricBuzzLogo {
  width: 25%;
  /* border: 2px solid rgb(255, 254, 254); */
}

.CricBuzzLogo img {
  height: 40px;

  width: 101px;
}

.MobileSite {
  width: 25%;
  padding: 0px;
}

.FollowUs {
  width: 25%;
}

.Company {
  width: 25%;
  /* border: 2px solid rgb(255, 254, 254); */
}

.FooterText {
  background: #4a4a4a;
  color: rgb(186, 183, 183);
  padding: 0px 25% 40px 25%;
  word-spacing: 4px;
  text-align: center;
  font-size: 15px;
}

.AllButton {
  padding: 10px 0px;
}

.ButtonsInAll {
  background: #333;
  margin-right: 20px;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;

}

.ButtonsInAll:hover {
  background-color: white;
  color: black;

}

.Matchtype {
  color: #009270;
  text-transform: uppercase;
  padding: 10px 0px;
}

.MatchName {
  padding: 10px 0px;
  /* color:white; */
}

.MatchTypeInAll {
  padding: 10px 0px;
  color: #9d9b9b
}

.CricbuzzLoginPage {
  padding: 1% 15%;
  background: #E3E6E3;
  /* border: 1px solid black; */
  font-size: 15px;
}

.LoginNav {
  background-color: #009270;
  padding: 6px 10px 6px 10px;
  display: flex;
}

.LoginNav img {
  width: 100%;
  height: 35px;

}

.LoginLogo {
  width: 15%;
}

.LoginPage {
  background-color: #fff;
  padding: 10px 0px;
  height: 625px;
  margin-top: 6px;
  text-align: center;
  line-height: 20px;
}

.LoginPage h1 {
  padding: 80px 0px 20px 0px;
}

.Login {
  display: flex;
  padding: 0px 200px 0px 250px;
}

.LoginMail {
  color: #009270;
  width: 25%;
}

.LoginMail2 {
  width: 75%;
}

.LoginSubmit {
  background-color: #009270;
}

.LatestNewsPage {
  display: flex;
  background-color: #fff;

}

.EachLatestNews {
  width: 70%;
  margin-top: 6px;
  padding: 10px 30px;
  border-right: 2px solid #E3E6E3;
}

.EachLatestNews h1 {
  text-align: center;
}

.EachLatestNews img {
  padding: 10px 160px;
  width: 300px;
}

.EachLatestNews p {
  text-align: justify;
  line-height: 20px;
  font-size: 15px;
  word-spacing: 4px;
}

.LatestNewsPart2 {
  width: 30%;
}

.comments {
  display: flex;
}

.PostComment {
  width: 50%;
  padding: 0px 0px;
}

.TextArea {
  width: 300px;
  height: 100px;
}

.Submit {
  background-color: #009270;
  margin: 10px 0px;
  color: white;
}

.ViewAllComments {
  width: 50%;
  padding: 0px 0px 10px 100px;

}

.CommentBtn {
  background-color: #009270;
  padding: 3px 5px;
  color: #fff;
  border: 0px;
}

.ViewComments {
  padding: 10px 0px;
}

.EachComment {
  padding: 5px 0px;
}

.LiveScorePage {
  margin-top: 6px;
  background-color: #fff;
}

.LiveScore {
  display: flex;
}

.LiveScoreHeader {
  padding: 10px 20px;
  display: flex;
  border-bottom: 1px solid #E3E6E3;
}

.LiveScoreHeaderBtn {
  margin: 0px 10px;
  color: black;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
}

.LiveScoreHeaderBtnDefault {
  color: #009270;
  font-weight: bold;
  text-decoration: underline;
  border: 0px;
  cursor: pointer;
  background-color: #fff;
}

.LiveScoreHeaderBtn:hover {
  color: #009270;
  text-decoration: underline;
}

.LiveScoreSubNav {
  padding: 0px 20px;
  border-bottom: 1px solid #E3E6E3;
}

.LiveScoreSubNavBtnList {
  display: flex;
}

.LiveScoreSubNav h3 {
  padding: 0px 5px;
}

.LiveScoreHome {
  padding: 10px 20px;
  display: flex;
}

.League {
  color: #fff;
  background-color: #009270;
  border-radius: 20px;
  border: 0px;
  /* margin-left: 5px; */
  margin-right: 5px;
  padding: 2px 8px;

}

.Domestic {
  color: #0a0909;
  background-color: #9ed1c5;
  border-radius: 20px;
  padding: 2px 8px;
  border: 0px;
  margin-left: 10px;
}

.Domestic:hover {
  color: #fff;
  background-color: #009270;
}

.LiveScoreHomePart1 {
  width: 70%;
  border-right: 2px solid #E3E6E3;
}

.LiveScoreHomePart2 {
  width: 30%;
}

.LiveScoreData {
  padding: 10px 5px;
}

.TitleOfMatch {
  margin: 10px 0px;
  padding: 10px 10px;
  background-color: #eaeaea;
}

.CurrentMatchDetails {
  padding: 5px 0px;
}

.CurrentMatchVenue {
  padding: 5px 0px 10px 0px;
  font-size: 13px;
  color: gray
}

.ScoreOfTheMatch {
  background-color: #edeaea;
  padding: 10px;
  line-height: 20px;
  font-size: 13px;
  width: 250px;
  border-left: 3px solid red;
}

.MatchStatus {
  padding: 5px 0px;
  color: red;
  font-size: 13px;
}

.LiveScoreBtn {
  color: blue;
  border: 0px;
  padding: 10px 15px 10px 0px;
  margin-top: 10px;
  background-color: white;
}

.LatestNewsPart2Title {
  color: #009270;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 10px 10px 10px;
  margin: 0px;
}

.LatestNewsPart2EachNews {
  display: flex;
  padding: 10px 10px;
  box-shadow: 0px 1px rgb(226, 224, 224);
  ;
}

.LatestNewsPart2EachNews img {
  width: 50%;
  height: 70px;
}

.LatestNewsPart2EachNewsTitle {
  font-size: 13px;
  padding: 2px;
}

.Profile {
  margin-top: 6px;
  display: flex;
  background-color: white;
}

.Account {
  width: 50%;
}

.MyProfile {
  width: 50%;
}

.Title {
  padding: 50px 50px 20px 50px;
}

.ElementsInAccount {
  border: 1px solid rgb(199, 196, 196);
  margin: 10px 100px 100px 50px;
}

.ElementsInAccount button {
  text-align: start;
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid rgb(187, 183, 183);
  background-color: white;
}

.ElementsInAccount button:focus {
  cursor: pointer;
  background-color: #009270;
  color: white;
}

.ElementsInProfile {

  padding: 10px 50px;
}

.EmailInProfile {
  background-color: #dce1e0;
  padding: 5px;
  border: 1px solid rgb(187, 183, 183);
}

.MenRanking {
  margin-top: 6px;
  background-color: white;
  padding: 10px;
}
.ImageInFeaturedVedios{
  padding: 10px 0px;
}

.ImageInFeaturedVedios img {
  width:100%;
  cursor: pointer;
}
.CricbuzzVideos{
  background-color: white;
  padding: 30px;
}